@font-face {
  font-family: Contemporary;
  src: url("Contemporary-Regular.ttf");
}

  /* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
background: #000;
border-style: solid;
border-color: #999999;
border-width: 2px;	
}
 
/* Handle */
::-webkit-scrollbar-thumb {
background: #555;
border-style: solid;
border-color: #999999;
border-width: 2px;	
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #F4EED7;
border-style: solid;
border-color: #999999;
border-width: 2px;	
}

div.youtube {
          margin-right: 5px;
}

div.site {
	  float: center;
}


h1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

br {
  margin-top: -6px;
  margin-bottom: -6px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  margin-top: 2px;
  margin-bottom: 2px;
}


h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h4 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h5 {
  margin-top: 2px;
  margin-bottom: 2px;
}


h6 {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Purple Colour */
div.banner {
        background-color: rgba(86, 0, 204, 0.25);
        margin: auto;
        max-width: 100%;
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
        padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

body {
	color: white;
	background-color: #000000;
	size: 14px;
}

/* Yellow Colour */
div.section1 {
	margin: auto;
	max-width: 100%;
        background-color: rgba(204, 164, 0, 0.25);
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	max-width="95%";
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

/* Pink Colour */
div.section2 {
	margin: auto;
        background-color: rgba(194, 100, 124, 0.25);
        max-width: 100%;
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
}

/* Purple Colour */
div.section3 {
	margin: auto;
	max-width: 100%;
        background-color: rgba(86, 0, 204, 0.25);
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

/* Yellow Colour */
div.section4 {
	margin: auto;
	max-width: 100%;
        background-color: rgba(204, 164, 0, 0.25);
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

/* Purple Colour */
div.footer {
        background-color: rgba(86, 0, 204, 0.25);
        float: ;
        max-width: 100%;
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	margin: auto;
	font-family: Contemporary, Verdana, Arial;
}

/* Black Colour for Tweets*/
div.tweet {
        background-color: rgba(0, 0, 0, 0.25);
        margin: auto;
        max-width: 100%;
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
        padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

div.image {
        margin: auto;
	max-width: 70%
}

a:link {
  text-decoration: none;
  color: #a8a7a7;
  size: 14px;	
}

a:visited {
  text-decoration: none;
  color: #a8a7a7;
  size: 14px;		
}

a:hover {
  text-decoration: none;
  color: #a8a7a7;
  size: 14px;		
}

a:active {
  text-decoration: none;
  color: #a8a7a7;
  size: 14px;	
}

.button {
  background-color: rgb(255, 255, 255); 
  border-width: 1px;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 2px;
  border-color: #999999;
  font-family: Contemporary, Verdana, Arial;
}

div.image {
  border-width: 0px;
  color: white;
  border-radius: 1px;
  border-color: #999999;
}

div.footer-other {
width: 50%
}

div.copyright {
  margin: auto;
}
