@font-face {
  font-family: Contemporary;
  src: url("Contemporary-Regular.ttf");
}

div.youtube {
          margin-right: 5px;
}

div.site {
	  float: center;
}

@media screen and (max-width: 800px) {
  div.banner {
    float: none;
    max-width: 100% !important;
  }
}

div.banner {
        background-color: rgba(107, 0, 255, 0.5);
        margin: auto;
        max-width: 70%;
        border-radius: 2px;
  	padding-top: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

body {
	color: white;
	background-color: #000000;
}

@media screen and (max-width: 800px) {
  div.section1 {
    max-width: 100% !important;
  }
}

div.section1 {
	margin: auto;
	max-width: 70%;
        background-color: rgba(255, 205, 0, 0.5);
        border-radius: 2px;
  	padding-top: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	max-width="95%";
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

@media screen and (max-width: 800px) {
  div.section2 {
    max-width: 100% !important;
  }
}

div.section2 {
	margin: auto;
        background-color: rgba(244, 125, 152, 0.5);
        max-width: 70%;
        border-radius: 2px;
  	padding-top: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	max-width="95%";
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
}

div.footer {
        background-color: rgba(107, 0, 255, 0.5);
        float: ;
        max-width: 70%;
        border-radius: 2px;
  	padding-top: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	margin: auto;
	font-family: Contemporary, Verdana, Arial;
}

div.image {
        margin: auto;
	max-width: 70%
}

a:link {
  text-decoration: none;
  color: #999999;
}

a:visited {
  text-decoration: none;
  color: #999999;
}

a:hover {
  text-decoration: none;
  color: #999999;
}

a:active {
  text-decoration: none;
  color: #999999;
}

.button {
  background-color: #013220; 
  border-width: 2px;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  border-color: #999999;
}

@media screen and (max-width: 800px) {
  div.footer {
    max-width: 100% !important;
  }
}

div.image {
  border-width: 2px;
  color: white;
  border-radius: 2px;
  border-color: #999999;
}

div.footer-other {
width: 50%
}

div.copyright {
  margin: auto;
}
