@font-face {
  font-family: Contemporary;
  src: url("Contemporary-Regular.ttf");
}

  /* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
background: #000;
border-style: solid;
border-color: #999999;
border-width: 1px;	
}
 
/* Handle */
::-webkit-scrollbar-thumb {
background: #555;
border-style: solid;
border-color: #999999;
border-width: 2px;	
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #F4EED7;
border-style: solid;
border-color: #999999;
border-width: 4px;	
}

div.site {
	  float: center;
}


h1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

br {
  margin-top: -6px;
  margin-bottom: -6px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  margin-top: 2px;
  margin-bottom: 2px;
}


h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h4 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h5 {
  margin-top: 2px;
  margin-bottom: 2px;
}


h6 {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Purple Colour */
div.banner {
        background-color: rgba(86, 0, 204, 0.25);
        margin: auto;
        max-width: 100%;
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
        padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

body {
	color: white;
	background-color: #212121;
	size: 14px;
}

/* Yellow Colour */
div.section1 {
	margin-left: 5px;
	max-width: 100%;
        background-color: rgba(204, 164, 0, 0.25);
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	max-width="95%";
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

/* Pink Colour */
div.section2 {
	margin: auto;
        background-color: rgba(194, 100, 124, 0.25);
        max-width: 100%;
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
}

/* Purple Colour */
div.section3 {
	margin: auto;
	max-width: 100%;
        background-color: rgba(86, 0, 204, 0.25);
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

/* Yellow Colour */
div.section4 {
	margin: auto;
	max-width: 100%;
        background-color: rgba(204, 164, 0, 0.25);
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

/* Purple Colour */
div.footer {
        background-color: rgba(86, 0, 204, 0.25);
        float: auto;
        max-width: 100%;
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	margin: auto;
	font-family: Contemporary, Verdana, Arial;
}

div.image1 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	background-color: #000000;
}


div.image2 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	background-color: #000000;
}

div.image3 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	background-color: #000000;
}

div.image4 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	background-color: #000000;
}

div.image5 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	background-color: #000000;
}


div.image6 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	background-color: #000000;
}

div.image7 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	background-color: #000000;
}

div.image8 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}

div.image9 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}

div.image10 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}

div.image11 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}

div.image12 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image13 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image14 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image15 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image16 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image17 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image18 {
        float: left;
	width: 384px;
	height: 303px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image19 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image20 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image21 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image22 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image23 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image24 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image25 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image26 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image27 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}


div.image28 {
        float: left;
	width: 384px;
	margin-top: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;	
	background-color: #000000;
}

/* Black Colour for Tweets*/
div.tweet {
        background-color: rgba(0, 0, 0, 0.25);
        margin: auto;
        max-width: 100%;
        border-radius: 0px;
  	padding-top: 5px;
	padding-left: 5px;
        padding-right: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

div.image {
        margin: auto;
	max-width: 70%
}

a:link {
  text-decoration: none;
  color: #dcdcdc;
  size: 14px;	
}

a:visited {
  text-decoration: none;
  color: #dcdcdc;
  size: 14px;		
}

a:hover {
  text-decoration: underline;
  color: white;
  size: 14px;
  padding-left: 5px;
  padding-right: 5px;	
}

a:active {
  text-decoration: none;
  color: #dcdcdc;
  size: 14px;	
}

kbd {
  background-color: #212121;
  padding: 2px;
}

.button {
  background-color: rgb(25, 25, 25); 
  border-width: 1px;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 2px;
  border-color: #999999;
  font-family: Contemporary, Verdana, Arial;
}

div.footer-other {
width: 50%
}

div.copyright {
  margin: auto;
}
