@font-face {
  font-family: Contemporary;
  src: url("Contemporary-Regular.ttf");
}

div.youtube {
          margin-right: 5px;
}

div.site {
	  float: center;
}

@media screen and (max-width: 800px) {
  div.banner {
    float: none;
    max-width: 100% !important;
  }
}
/* Purple Colour */
div.banner {
        background-color: rgba(86, 0, 204, 0.25);
        margin: auto;
        max-width: 70%;
        border-radius: 5px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

body {
	color: white;
	background-color: #000000;
}

@media screen and (max-width: 800px) {
  div.section1 {
    max-width: 100% !important;
  }
}

/* Yellow Colour */
div.section1 {
	margin: auto;
	max-width: 70%;
        background-color: rgba(204, 164, 0, 0.25);
        border-radius: 5px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	max-width="95%";
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
	float: center;
}

@media screen and (max-width: 800px) {
  div.section2 {
    max-width: 100% !important;
  }
}

/* Pink Colour */
div.section2 {
	margin: auto;
        background-color: rgba(194, 100, 124, 0.25);
        max-width: 70%;
        border-radius: 5px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	max-width="95%";
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	font-family: Contemporary, Verdana, Arial;
}

/* Purple Colour */
div.footer {
        background-color: rgba(86, 0, 204, 0.25);
        float: ;
        max-width: 70%;
        border-radius: 5px;
  	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #999999;
	border-width: 2px;
	margin: auto;
	font-family: Contemporary, Verdana, Arial;
}

div.image {
        margin: auto;
	max-width: 70%
}

a:link {
  text-decoration: none;
  color: #999999;
}

a:visited {
  text-decoration: none;
  color: #999999;
}

a:hover {
  text-decoration: none;
  color: #999999;
}

a:active {
  text-decoration: none;
  color: #999999;
}

.button {
  background-color: #013220; 
  border-width: 2px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  border-color: #999999;
}

@media screen and (max-width: 800px) {
  div.footer {
    max-width: 100% !important;
  }
}

div.image {
  border-width: 2px;
  color: white;
  border-radius: 2px;
  border-color: #999999;
}

div.footer-other {
width: 50%
}

div.copyright {
  margin: auto;
}
